.detail-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  align-items: center;
  border-radius: 10px;
  align-items: left;
}

